<ion-header>
  <ion-toolbar>
    <ion-title>addcart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> {{selectedBag.productName}}</ion-card-subtitle>
      <ion-card-title> <img src="{{selectedBag.productPic}}" class="photo"></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{selectedBag.productPrice}}
      {{selectedBag.productDescrip}}
         {{selectedBag.sizes}}
    </ion-card-content>
  </ion-card>
	
 
 
  
		<!-- <button mat-raised-button  routerLink="/update" (click)="updating()">Update</button>
	
		<button mat-raised-button  routerLink="/" (click)=deleting()>Delete</button> -->
	

</ion-content>