ion-card
{
    margin-top: 1cm;
    margin-left: 8cm;
    margin-right: 16cm;
    padding: 2%;
    color: #85144b;
    
}
.myview {
 //background-image: url("../../img/letsstart.jpg");
 //background-image: url("https://cdn.vox-cdn.com/thumbor/xzXrJdg2jOJzd_s4-qXp4wEpp-0=/0x0:1566x1638/1200x800/filters:focal(905x1226:1155x1476)/cdn.vox-cdn.com/uploads/chorus_image/image/66588041/Screenshot_2020_04_01_at_11.51.04_AM.0.png");
color: yellow;
background-color: yellowgreen;

}
