<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-header>
		<ion-toolbar>
		<ion-title>
		
		</ion-title>
		</ion-toolbar>
		</ion-header>
		<ion-content>
		<ion-card> 
		<ion-card-header>
		<ion-card-subtitle></ion-card-subtitle>
		<ion-card-title>Sign in</ion-card-title>
		</ion-card-header>
		<ion-card-content>
  <ion-item class="container">


		<ion-item class="centered">
			
		<form>


				<ion-item class="fields">
					<ion-label>Email</ion-label>
					<input [(ngModel)]="email" name="email" type="text">
				</ion-item>

				<ion-item class="fields">
					<ion-label>password</ion-label>
					<input [(ngModel)]="password" name="password" type="password">
				</ion-item>




				<ion-item>


					<button type="button" (click)="login()" class="btn btn-primary" id="submit_btn">Submit</button>
					<ion-button (click)="login()" type="submit"  id="btnn">Register</ion-button>

				</ion-item>
				<ion-item class="resetLink">
					<a routerLink="/resetpassword">Forgot password?</a>
				</ion-item>





				<p>
					<a routerLink="/register">Not a member</a>
				</p>

</form>

		
		</ion-item>
	</ion-item>




</ion-card-content>
</ion-card>
</ion-content>
</ion-content>
