<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  

    
   <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let bag of bags" size="3">
        <ion-card>
          <ion-card-header>
            <img src={{bag.productPic}} class="photo">
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-card-title> {{bag.productName}}</ion-card-title>
            </ion-item>
            <ion-item>
              <ion-card-subtitle> {{bag.productPrice}}</ion-card-subtitle>
              <ion-button expand="block" fill="outline" routerLink="/addcart">VIEW</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> 



</ion-content>

<div class = "bar bar-footer bar-assertive">
  <ion-footer>
    <ion-toolbar>
      <ion-title>
  
      </ion-title>
     <ion-icon class="c1" routerLink="['/home']" name="home"></ion-icon>
<ion-icon class="c1" [routerLink]="['/register']" name="list"></ion-icon>
    
<ion-icon class="c1" [routerLink]="['/login']" name="person-add-outline"></ion-icon>


</ion-toolbar>
  </ion-footer>
</div>
