
ion-icon
{
  color:#CC9900;
  font-size: 35px;
  font-weight: bolder;
 background-color: transparent;
}
ion-label
{
    color:white;
    font-weight: bolder;
}

strong
{
  color:black;

}

.badge-notify{

  background-color:gray;
  position:relative;
  top: -18px;
  left: -5px;
  border-radius: 75%;
  color:black;
  text-align: center;
  font-weight: bolder;
  font-variant: small-caps;
  margin-left: 0.5cm;
  
}