<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)" >


	
   
    <ion-label>Email</ion-label>
      <ion-input position="fixed"
       id="email"
      name="email"
      ngModel
      #email="ngModel" placeholder="Email Address"
      required>
  </ion-input>
  
    
    
  
      
        <ion-button  (click)="forgotPassword(email.value)" type="submit"   size="medium"   color="teal">Register</ion-button>
          <!-- <ion-button class="btn btn-primary"  (click)="forgotPassword(email.value)" id="submit_btn">Submit</ion-button> -->
  

  
  </form>
</ion-card>
   
</ion-content>



