<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)" >


	
   
    <ion-label>Email</ion-label>
      <ion-input position="fixed"
       id="email"
      name="email"
      ngModel
      #email="ngModel" placeholder="Enter your Email Address"
      required>
  </ion-input>
  
    
    
  
      
        <ion-button  (click)="forgotPassword(email.value)" type="submit"   size="medium"   color="teal">Submit</ion-button>
       
  

  
  </form>
</ion-card>
<ion-footer>
	<ion-toolbar>
    <ion-segment [(ngModel)]="currentPage">
      <ion-segment-button [value]="home">
        Home
      </ion-segment-button>
	  <ion-title> <ion-icon name="home" routerLink="/"></ion-icon> </ion-title>
	</ion-toolbar>
  </ion-footer>
</ion-content>



