<ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)" >


	
   
    <ion-label>Email</ion-label>
      <ion-input position="fixed"
       id="email"
      name="email"
      ngModel
      #email="ngModel" placeholder="Email Address"
      required>
  </ion-input>
  
    
    
      <ion-item>
      
  
          <button
       class="btn btn-primary"  (click)="forgotPassword(email.value)" id="submit_btn">Submit</button>
  
  </ion-item>
  </form>
  
</ion-content>
