<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Added to cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
     
      <ion-col  *ngFor="let bag of salesBag" >
        <ion-card>
          <ion-card-header>
            <img src={{bag.product.productPic}} class="photo">
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-card-title> {{bag.product.productName}}</ion-card-title>
            </ion-item>
            <ion-item>
              <ion-card-subtitle>R {{bag.product.productPrice}}</ion-card-subtitle>

          <ion-icon name="close-outline" id="cross" (click)="delete(bag.id)"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> 


  
</ion-content>
