
ion-icon
{
  color:#CD853F;
  font-size: 35px;
  font-weight: bolder;
 background-color: transparent;
}
.c1
{
  margin-left: 4cm;

}
.photo {
    margin-top:0.5cm;
  margin-left: 0.1cm;
  margin-right: 0.1cm;
  height: 6cm;
  width: 5cm;
}
.price {
    
  font-style: italic;

    font-size: 0.7cm;
  
    font-weight: bolder;
    margin-left:0.5cm;
    margin-bottom: 0.3cm;
}
ion-card
{
  height: 10cm;
  width: 7cm;
}

ion-title
{

 text-align: center;
 font-style: italic;
 font-weight: lighter;
 font-size: 2cm;
 color:#CD853F;
}
ion-card-subtitle
{
  color: black;
  background-color:white;
}

ion-card-title
{
  color:black;
}