<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
 
        MABe bAGS
 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-grid >
    <ion-row size="12" size-md="10" size-lg="8" size-xl="6"> 
      <ion-col  *ngFor="let bag of bags"   >
        <ion-card>
          <ion-card-header>
            <img src={{bag.productPic}} class="photo">
          </ion-card-header>
          <ion-card-content>
          
              <ion-card-title> {{bag.productName}}</ion-card-title>
         
              <ion-card-subtitle> R{{bag.productPrice}}</ion-card-subtitle>
              <ion-icon name="cart" (click)="addToCart(bag)"></ion-icon>
           
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>
