<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="avatar-flip">
      <img src="../assets/imag/MaBe-logos.jpeg" height="150" width="150">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq-0d8pO41hzk5SAahPPqLRKQcZK0Ozrb5pg&usqp=CAU" height="150" width="150">
    </div> 



<h1>{{cellNo}}</h1>
   
    <ion-button expand="full"  size="large" class="button" color="light" (click)="logout()">Logout</ion-button>
</div>
</ion-content>
