

ion-card
{
    color:white;
    font-weight: bolder;
    width: 8cm;
    height: 13cm;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/29/17/31/online-2900303__340.jpg");
    background-position: 100%;
    position:center;
    text-align: center;
    
}
ion-button {
    font-weight: 200;
    background-color:#CC9900;
    border-radius: 100%;
    width: 32;
}
a{
    color:white;
    font-weight: bolder;
    font-variant: small-caps;
}
ion-card-title
{

    color: white;
}

ion-icon
{
    height: 2cm;
    width: 1cm;
}
