<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	


 
<ion-header>
  <ion-toolbar>
  <ion-title>
  
  </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-card> 
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title>Registration Form</ion-card-title>
  </ion-card-header>
  <ion-card-content>
	

		<ion-item class="centered">
			<form>

				<ion-item class="fields">
					<ion-label>First Name</ion-label>
						<ion-input [(ngModel)]="name" name="name" type="string" matInput required ></ion-input>
	</ion-item>
	
	<ion-item class="fields">
		<ion-label>Last Name</ion-label>
							<ion-input [(ngModel)]="surname" name="surname"  type="string" matInput required ></ion-input>
						</ion-item>
	
	
	
						<ion-item class="fields">
							<ion-label>Age</ion-label>
	
		<ion-input [(ngModel)]="age" name="age" type="number" matInput required></ion-input>
	</ion-item>
	
	<ion-item class="fields">
		<ion-label>Cell Number</ion-label>
		<ion-input [(ngModel)]="cellNo" name="cellNo" type="text" matInput required></ion-input>
	</ion-item>
	
	
	
	<ion-item class="fields">
		<ion-label>Email</ion-label>
		<ion-input [(ngModel)]="email" name="email" type="text" matInput required></ion-input>
	</ion-item>
	
	<ion-item class="fields">
		<ion-label>password</ion-label>
	
								<ion-input [(ngModel)]="password" name="password" type="password" matInput required ></ion-input>
							</ion-item>
	
					
								
							
									<a routerLink="/login" >Already a Member</a>
								 
								
			</form>
		</ion-item>
		<ion-button  (click)="signUp()" type="submit"  id="btnn" size="medium"  expand="block" color="teal">Register</ion-button>
		<br>
		<a routerLink="/login">Already a Member</a>
  </ion-card-content>
  </ion-card>
  </ion-content>
</ion-content>
