<ion-header>
  <ion-toolbar>
     <ion-title>Register</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
	


 
<ion-header>
 
  </ion-header>

  <ion-card> 
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title>Registration Form</ion-card-title>
  <img src="../assets/imag/MaBe-logos.jpeg" alt="centered image">
  </ion-card-header>
  <ion-card-content>
	

		<ion-item class="centered">
			<form>

				<ion-item class="fields">
				
						<ion-input placeholder="First Name" [(ngModel)]="name" name="name" type="string" matInput required ></ion-input>
	</ion-item>
	
	<ion-item class="fields">
		
							<ion-input placeholder="Last Name"[(ngModel)]="surname" name="surname"  type="string" matInput required ></ion-input>
						</ion-item>
	
	
	
						<ion-item class="fields">
							
	
		<ion-input placeholder="Age" [(ngModel)]="age" name="age" type="number" matInput required></ion-input>
	</ion-item>
	
	<ion-item class="fields">
	
		<ion-input placeholder="Cell Number"[(ngModel)]="cellNo" name="cellNo" type="text" matInput required></ion-input>
	</ion-item>
	
	
	
	<ion-item class="fields">
		
		<ion-input placeholder="Email" [(ngModel)]="email" name="email" type="text" matInput required></ion-input>
	</ion-item>
	
	<ion-item class="fields">
	
	
								<ion-input placeholder="Password"[(ngModel)]="password" name="password" type="password" matInput required ></ion-input>
							</ion-item>
	
					
								
							
							
								 
								
			</form>
		</ion-item>
		<ion-button  (click)="signUp()" type="submit"  id="btnn" size="medium"  expand="block" color="teal">Register</ion-button>
		<a routerLink="/login" >Already a Member</a>
  </ion-card-content>
  </ion-card>

  <ion-footer>
	<ion-toolbar>
		
	  <ion-title> <ion-icon name="home" routerLink="/"></ion-icon> </ion-title>
	</ion-toolbar>
  </ion-footer>
 
</ion-content>
