body{
    background-color: maroon;
    color: maroon;
}
// form {
//     padding: 1cm;
//     margin-left: 8cm;
//     margin-top: 1cm;
//   }

//   ion-card-content
//   {
// padding: 3%;
//       background-color:#85144b;
//   }
//   ion-card-title
//   {
//       margin-bottom: 2cm;
//   }

//   #btnn
//   {
      
// color: #85144b;
// background-color: white;
// margin-left: 4cm;;
//   }

ion-card
{
    margin-top: 1cm;
    margin-left: 8cm;
    margin-right: 22cm;
    padding: 2%;
    color: #85144b;
    
}
