

ion-content {
  --background: url('https://cdn.pixabay.com/photo/2017/10/29/17/31/online-2900303__340.jpg') no-repeat center center fixed;

  background-size: cover;
}
ion-icon
{
  color:rgb(204, 175, 12);
  font-size: 35px;
  font-weight: bolder;
 background-color: transparent;
}
.c1
{
  margin-left: 4cm;

}

.button
{

  background-color: transparent;
  color: white;
padding: 1%;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


